			.body{
				background: #F1F1F1;	
			}
			.formulario{
				width:400px;
				margin: 0 auto;
				background: #E6F4FB;
				padding: .5em;
				border:1px solid #064E32;
				text-align: center;
				margin-top: .5em;
			}
			.h3{
				text-align: center;
				/*font-size:25px;*/
				text-shadow:0 0 10px #000; 
			}
			.label{
				font-size: 16px;
				text-transform: uppercase;
			}
			.input, .select{
				padding:0.5em;
				border-radius: .3em;
			}
			.container{
				padding:.5em; 
			}

			.table-container{
				margin-top: 1em;
				margin-bottom:1em; 
				text-align:center; 
				
			}

			.comprueba{
				width:800px;
				margin: 0 auto;
				text-align: center;
			}
			.table{
				margin-bottom: .5em;
			}
			.td{
				padding:.5em 1.5em;
				border:1px solid black ;
			}

			.active{
				background: #D0E000;
			}

			.tdgray{
				border:1px solid gray;
				padding:.5em; 
			}
			a{
				text-decoration: none;
				color: white;
				text-shadow: 0 0 3px #000;
			}
			.edit{
				background:#E4193F ;
				color:white;
				padding:.3em; 
				box-shadow: 1px 1px 2px red;
			}

			.edit:hover{
				background: green;
				cursor: pointer;
				box-shadow: 1px 1px 2px green;	
			}

		